*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(44, 179, 243, 1);
}

h1{
    display: flex;
    justify-content:center;
    font-size:40px;
}
.menu-header{
    
    display: flex;
    font-size: 20px;
    font-size: 1.5rem;
    justify-content: center;
    margin-top:120px;
    margin-left: 100px;
}

.corpo{
    
    position: absolute;
    width: 750px;
    height: 350px;
    left: 250px;
    top: 245px;
    margin-left: 100px;
    background: #FFFFFF;
    border-radius: 100px 100px 0px 0px;
}

.rosto{
    border-radius: 50%;
    display: inline-block;
    height: 300px;
    width:350px;
    position: relative;
    background-color: #FFE1C9;
    margin-left: 200px;
   
   
}
.olho-direito{
    position: absolute;
    background-color: black;
    width: 30px;
    top:10vh;
    right: 7vw;
    height: 30px;
    border-radius: 50%;
    
}

.olho-esquerdo{
    position: absolute;
    background-color: black;
    top: 10vh;
    width: 30px;
    left: 7vw;
    height: 30px;
    border-radius: 50%;
    
}


input{
    box-sizing: border-box;
    position: absolute;
    width: 170px;
    height: 50px;
    left: 100px;
    top:150px;
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 5px;
}


.bnt{
  position: absolute;
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color:white;
    width: 200px;
    height: 70px;
    left:100px;
    top:100px;
    margin:500px;
    margin-left: 550px;
    background: #55A603;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}